* {
  list-style: none;
  text-decoration: none;
  font-family: "Anuphan", "Zen Maru Gothic", serif;
}

body {
  position: relative;
  background-color: #C2B5AF;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  font-size: 8rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Zen Maru Gothic", serif;
}

.accentColor {
  color: #C1DBA1;
}

.accentColorBrown {
  color: #D0A05D;
}

.smallText {
  font-size: 4rem;
}

/*-------------
    Header 
-------------*/
.header {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 2%;
  height: 80px;
  padding: 0 36px;
  background: #FFFEFF;
  border-radius: 50px;
}

/*-------------
    Nav 
-------------*/
header .nav {
  width: 580px;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navListContent a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.navListContent a:hover {
  color: #C1DBA1;
  transition: 0.2s;
}

/*-------------
    Main Top 
-------------*/
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*-------------
      Histry
  -------------*/
  /*-------------
      Lead
  -------------*/
  /*-------------
      Concept
  -------------*/
  /*-------------
      Massage
  -------------*/
  /*-------------
      Timeline
  -------------*/
  /*-------------
      Map
  -------------*/
}
.main #top {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #top .topView {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main #top .topView .topViewVideoBg {
  width: 100%;
  height: 100%;
}
.main #top .topView .topViewVideoBg .topVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main #top .topView .siteTitleBg {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background: #FFFEFF;
  opacity: 0;
  transition: 0.5s;
}
.main #top .topView .siteTitleBg .siteTitle {
  display: block;
  position: relative;
}
.main #top .topView .siteTitleBg .siteTitle p {
  font-family: "Anuphan", serif;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}
.main #top .topView .siteTitleBg .siteTitle p:first-child {
  left: 5px;
}
.main #top .topView .siteTitleBg .siteTitle p:last-child {
  top: 8.5rem;
  right: 5px;
}
.main #top .topView .siteTitleBg:hover {
  opacity: 1;
}
.main #histry {
  width: 80%;
}
.main #histry .histryList .histryListContent:nth-child(1) .histryListItemTop {
  border: 5px solid #F48FB1;
  color: #F48FB1;
  left: 5%;
}
.main #histry .histryList .histryListContent:nth-child(1) .histryListItemDetail {
  background-color: #F48FB1;
  left: 5%;
}
.main #histry .histryList .histryListContent:nth-child(2) .histryListItemTop {
  border: 5px solid #94BC18;
  color: #94BC18;
  right: 5%;
}
.main #histry .histryList .histryListContent:nth-child(2) .histryListItemDetail {
  background-color: #94BC18;
  right: 5%;
}
.main #histry .histryList .histryListContent:nth-child(3) .histryListItemTop {
  border: 5px solid #B7D389;
  color: #B7D389;
  left: 5%;
}
.main #histry .histryList .histryListContent:nth-child(3) .histryListItemDetail {
  background-color: #B7D389;
  left: 5%;
}
.main #histry .histryList .histryListContent:nth-child(4) .histryListItemTop {
  border: 5px solid #FAD841;
  color: #FAD841;
  right: 5%;
}
.main #histry .histryList .histryListContent:nth-child(4) .histryListItemDetail {
  background-color: #FAD841;
  right: 5%;
}
.main #histry .histryList .histryListContent:nth-child(5) .histryListItemTop {
  border: 5px solid #993430;
  color: #993430;
  left: 5%;
}
.main #histry .histryList .histryListContent:nth-child(5) .histryListItemDetail {
  background-color: #993430;
  left: 5%;
}
.main #histry .histryList .histryListContent {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 15px;
  margin: 50px 0;
}
.main #histry .histryList .histryListContent .histryListItemTop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 380px;
  border: 5px solid inherit;
  border-radius: 15px;
  background-color: #FFFEFF;
  transition: 0.5s;
}
.main #histry .histryList .histryListContent .histryListItemTop img {
  width: 420px;
}
.main #histry .histryList .histryListContent .histryListItemTop .histryListItemTitle {
  margin-top: 1rem;
}
.main #histry .histryList .histryListContent .histryListItemDetail {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 500px;
  height: 380px;
  background-color: #C1DBA1;
  border-radius: 15px;
  background-color: inherit;
  transition: 0.5s;
  opacity: 0;
  transform: rotateY(180deg);
}
.main #histry .histryList .histryListContent .histryListItemDetail p {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFEFF;
  line-height: 2rem;
}
.main #histry .histryList .histryListContent:hover .histryListItemDetail {
  transform: rotateY(0);
  opacity: 1;
}
.main #histry .histryList .histryListContent:hover .histryListItemTop {
  transform: rotateY(180deg);
  transition: 0.5s;
}
.main #lead {
  width: 80%;
}
.main #lead .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 850px;
  background: #FFFEFF;
  border: solid 5px #C1DBA1;
  border-radius: 45px;
}
.main #lead .wrapper img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main #lead .wrapper .leadText {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.main #concept {
  position: relative;
  width: 100%;
  height: 1065px;
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}
.main #concept .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150%;
  height: 1065px;
  background: #C1DBA1;
  border-radius: 45%;
}
.main #concept .wrapper img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #D0A05D;
  border-radius: 50%;
  background-color: #FFFEFF;
}
.main #concept .wrapper h3 {
  margin-top: 4rem;
  line-height: 4rem;
}
.main #concept .wrapper p {
  margin-top: 4rem;
  line-height: 2rem;
  font-weight: 700;
}
.main #message {
  width: 80%;
  color: #FFFEFF;
}
.main #message .messageList .messageListContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main #message .messageList .messageListContent img {
  width: 38%;
  padding: 8%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main #message .messageList .messageListContent .messageItem h3 {
  line-height: 4rem;
}
.main #message .messageList .messageListContent .messageItem p {
  font-weight: 700;
  line-height: 2rem;
}
.main #message .messageList .messageListContent:nth-child(odd) .messageItem {
  text-align: right;
}
.main #message .messageList .messageListContent:nth-child(odd) img {
  transform: scale(-1, 1);
}
.main #timeline {
  width: 100%;
  height: 100vh;
  background: #F5609A;
  overflow: hidden;
}
.main #timeline .timelineTitle {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 16rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #FFFEFF;
}
.main #timeline .timelineTitle .timelineTitleTop {
  position: absolute;
  top: 0;
  left: 0;
}
.main #timeline .timelineTitle .timelineTitleBottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main #timeline .timelineBg {
  width: 2000px;
  height: 100%;
}
.main #timeline .timelineBg .timelineList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  width: 2000px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main #timeline .timelineBg .timelineList .timelineListContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  height: 450px;
  margin: 0 50px;
  background: #FFFEFF;
  border: 1px solid #000000;
  border-radius: 35px;
  color: #C2B5AF;
}
.main #timeline .timelineBg .timelineList .timelineListContent .timelineListItem {
  position: relative;
  width: 80%;
  height: 90%;
}
.main #timeline .timelineBg .timelineList .timelineListContent .timelineListItem .startTime {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-weight: 700;
}
.main #timeline .timelineBg .timelineList .timelineListContent .timelineListItem .timelineItemTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: 3rem;
}
.main #timeline .timelineBg .timelineList .timelineListContent .timelineListItem .timelineItemDiscript {
  position: absolute;
  height: 120px;
  bottom: 0;
  left: 0;
  font-weight: 700;
}
.main #timeline .timelineBg .timelineList .timelineListContent .pototsuku::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 64px;
  height: 64px;
  background: url(/src/img/logo/pototuku_logo.png);
  background-size: contain;
}
.main #timeline .timelineBg .timelineList .timelineListContent:hover {
  background: #D0A05D;
  color: #FFFEFF;
}
.main #timeline .timelineBg .timelineList::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -99;
  top: 50%;
  left: 5%;
  width: 80%;
  height: 5px;
  border-bottom: dotted 5px #FFFEFF;
}
.main #map {
  width: 80%;
  height: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main #map .subTitle {
  color: #FFFEFF;
  margin: 100px 0;
}
.main #map .mapDiscript {
  font-weight: 700;
  font-size: 1.25rem;
  color: #FFFEFF;
  margin-bottom: 100px;
}
.main #map .mapImages {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.main #map .mapImages img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
  border: 5px solid #C1DBA1;
}

/*-------------
    Footer
-------------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #D0A05D;
}
.footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-left: 100px;
}
.footer .logo img {
  width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .copyright {
  width: 70%;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}/*# sourceMappingURL=style.css.map */