//color
$color-white: #FFFEFF;
$color-black: #000000;
$color-gray: #C2B5AF;
$color-brown: #D0A05D;
$color-pink: #F5609A;
$color-green: #c1dba1;
$color-peach: #F48FB1;
$color-pear: #94BC18;
$color-melon: #B7D389;
$color-lemon: #FAD841;
$color-fig: #993430;

* {
    list-style: none;
    text-decoration: none;
    font-family: "Anuphan", "Zen Maru Gothic", serif;
}

body {
    position: relative;
    background-color: $color-gray;
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}

h2 {
    font-size: 8rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-family: "Zen Maru Gothic", serif;
}

.accentColor {
    color: $color-green;
}

.accentColorBrown {
    color: $color-brown;
}

.smallText {
    font-size: 4rem;
}

.show {
    opacity: 1;
}

/*-------------
    Loading 
-------------*/
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: $color-gray;
    transition: all 0.5s linear;

    &.loaded {
        opacity: 0;
        visibility: hidden;
    }

    .loader {
        width: 60px;
        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(circle closest-side, #afffa1 90%, #69ff7b00);
        background:
            var(--_g) 0% 50%,
            var(--_g) 50% 50%,
            var(--_g) 100% 50%;
        background-size: calc(100%/3) 50%;
        animation: l3 1s infinite linear;
    }

    @keyframes l3 {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%
        }

        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%
        }

        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%
        }

        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%
        }
    }
}

/*-------------
    Scroll 
-------------*/
.element {
    visibility: hidden;
    transition: opacity 0.7s, visibility 0.7s, transform 0.7s, filter .8s;
    transform: translateY(110px);
    opacity: 0;
    filter: blur(10px);
}

.is-fadein {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    filter: none;
}

/*-------------
    Header 
-------------*/
.header {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 2%;
    height: 80px;
    padding: 0 36px;
    background: $color-white;
    border-radius: 50px;
    opacity: 0;
    transition: .5s;
}

/*-------------
    Nav 
-------------*/
header .nav {
    width: 580px;
}

.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navListContent a {
    font-weight: bold;
    font-size: 1.5rem;
    color: $color-black;
}

.navListContent a:hover {
    color: $color-green;
    transition: .2s;
}

/*-------------
    Top 
-------------*/
#top {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    .topView {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .topViewVideoBg {
            width: 100%;
            height: 100%;

            .topVideo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100dvw;
                height: 100%;
                object-fit: cover;
            }
        }


        .siteTitleBg {
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 230px;
            background: $color-white;
            opacity: 0;
            transition: .5s;

            .siteTitle {
                display: block;
                position: relative;


                p {
                    font-family: "Anuphan", serif;
                    position: absolute;
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                p:first-child {
                    left: 5px;
                }

                p:last-child {
                    top: 8.5rem;
                    right: 5px;
                }
            }
        }

        .siteTitleBg:hover {
            opacity: 1;
        }
    }
}

/*-------------
    Histry
-------------*/
#histry {
    width: 100%;
    padding: 0 10%;

    .histryList {
        .histryListContent:nth-child(1) {
            .histryListItemTop {
                border: 5px solid $color-peach;
                color: $color-peach;
                left: 5%;
            }

            .histryListItemDetail {
                background-color: $color-peach;
                left: 5%;
            }
        }

        .histryListContent:nth-child(2) {
            .histryListItemTop {
                border: 5px solid $color-pear;
                color: $color-pear;
                right: 5%;
            }

            .histryListItemDetail {
                background-color: $color-pear;
                right: 5%;
            }
        }

        .histryListContent:nth-child(3) {
            .histryListItemTop {
                border: 5px solid $color-melon;
                color: $color-melon;
                left: 5%;
            }

            .histryListItemDetail {
                background-color: $color-melon;
                left: 5%;
            }
        }

        .histryListContent:nth-child(4) {
            .histryListItemTop {
                border: 5px solid $color-lemon;
                color: $color-lemon;
                right: 5%;
            }

            .histryListItemDetail {
                background-color: $color-lemon;
                right: 5%;
            }
        }

        .histryListContent:nth-child(5) {
            .histryListItemTop {
                border: 5px solid $color-fig;
                color: $color-fig;
                left: 5%;
            }

            .histryListItemDetail {
                background-color: $color-fig;
                left: 5%;
            }
        }

        .histryListContent {
            position: relative;
            width: 100%;
            height: 380px;
            border-radius: 15px;
            margin: 50px 0;


            .histryListItemTop {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 500px;
                height: 380px;
                border: 5px solid inherit;
                border-radius: 15px;
                background-color: $color-white;
                transition: .5s;

                img {
                    width: 420px;
                }

                .histryListItemTitle {
                    margin-top: 1rem;
                }
            }

            .histryListItemDetail {
                position: absolute;
                display: flex;
                justify-self: center;
                align-items: center;
                width: 500px;
                height: 380px;
                background-color: $color-green;
                border-radius: 15px;
                background-color: inherit;
                transition: .5s;
                opacity: 0;
                transform: rotateY(180deg);

                p {
                    width: 100%;
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: $color-white;
                    line-height: 2rem;
                }
            }
        }

        .histryListContent:hover .histryListItemDetail {
            transform: rotateY(0);
            opacity: 1;
        }

        .histryListContent:hover .histryListItemTop {
            transform: rotateY(180deg);
            transition: .5s;
        }
    }
}

/*-------------
    Lead
-------------*/
#lead {
    width: 100%;
    padding: 0 10%;
    margin-top: 100px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        background: $color-white;
        border: solid 5px $color-green;
        border-radius: 45px;

        img {
            width: 80%;
            object-fit: contain;
        }

        .leadText {
            margin: 2rem;
            text-align: center;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
}

/*-------------
    Campaign
-------------*/
#campaign {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 20% 0;
    padding: 0 10%;
    border-top: 5px solid $color-white ;
    border-bottom: 5px solid $color-white ;
    color: $color-white;


    .campaignBg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2%;
        border-top: 5px dotted $color-white ;

        .campaignLink {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 40%;

            .campaignBanner {
                width: 100%;
                object-fit: contain;
                transition: .5s;
            }

            .campaignBanner:hover {
                transform: translate(-5px, -5px);
                box-shadow: #c1dba1 5px 5px 5px;
            }
        }

        .campaingnText {
            width: 60%;
            padding-left: 2%;
            font-weight: 700;
        }
    }
}

/*-------------
    Concept
-------------*/
#concept {
    position: relative;
    width: 100%;
    height: 1065px;
    margin-top: 100px;
    text-align: center;
    overflow: hidden;

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 150%;
        height: 1065px;
        background: $color-green;
        border-radius: 45%;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border: 3px solid $color-brown;
            border-radius: 50%;
            background-color: $color-white;
        }

        h3 {
            margin-top: 4rem;
            line-height: 4rem;
        }

        p {
            margin-top: 4rem;
            line-height: 2rem;
            font-weight: 700;
        }
    }
}

/*-------------
    Massage
-------------*/
#message {
    width: 100%;
    padding: 0 10%;
    margin: 100px 0;
    color: $color-white;

    .messageList {
        .messageListContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .iceCream {
                width: 38%;
                padding: 8%;
                object-fit: contain;
                animation: floating infinite ease-in-out 3s;

                &.inversion {
                    animation: floating2 infinite ease-in-out 3s;
                }
            }

            @keyframes floating {
                0% {
                    transform: translateY(5%);
                }

                50% {
                    transform: translateY(-5%);
                }

                100% {
                    transform: translateY(5%);
                }
            }

            @keyframes floating2 {
                0% {
                    transform: translateY(-5%)
                }

                50% {
                    transform: translateY(5%)
                }

                100% {
                    transform: translateY(-5%)
                }
            }

            .messageItem {
                h3 {
                    line-height: 4rem;
                }

                p {
                    font-weight: 700;
                    line-height: 2rem;
                }
            }

        }

        .messageListContent:nth-child(odd) {
            .messageItem {
                text-align: right;
            }

            img {
                transform: scale(-1, 1);
            }
        }
    }
}

/*-------------
    Timeline
-------------*/
#timeline {
    position: relative;
    width: 100%;
    height: 100dvh;
    background: $color-pink;
    overflow: hidden;

    .timelineTitle {
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        color: transparent;
        font-size: 16rem;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: $color-white;

        .timelineTitleTop {
            position: absolute;
            top: 0;
            left: 0;
        }

        .timelineTitleBottom {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .timelineBg {
        width: 100%;
        height: 100%;

        .timelineList {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            padding-left: 300px;


            .timelineListContent {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-width: 400px;
                height: 500px;
                margin: 0 50px;
                background: $color-white;
                border: 1px solid $color-black;
                border-radius: 35px;
                color: $color-gray;
                transition: .2s;


                .timelineListItem {
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 15px;

                    .startTime {
                        font-size: 2rem;
                        font-weight: 700;
                    }


                    .timelineItemimg {
                        width: 100%;
                        padding: 0 10px;
                        border-radius: 15px;
                    }

                    .timelineItemTitle {
                        width: 100%;
                        margin-bottom: 50px;
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    .timelineItemDiscript {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 999;
                        border-radius: 35px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 15px;
                        font-weight: 700;
                        line-height: 2rem;
                        background-color: $color-brown;
                        transition: .2s;
                    }
                }

                .pototsuku::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: block;
                    width: 64px;
                    height: 64px;
                    background: url(/src/img/logo/pototuku_logo.png);
                    background-size: contain;
                }
            }

            .timelineListContent:hover {
                background: $color-brown;
                color: $color-white;
            }

            .timelineListContent:hover .timelineItemDiscript {
                display: flex;
            }
        }

        .timelineList::after {
            content: "";
            display: block;
            position: absolute;
            z-index: -99;
            top: 50%;
            left: 0;
            width: 100%;
            height: 5px;
            border-bottom: dotted 5px $color-white;
        }

    }
}

/*-------------
    Map
-------------*/
#map {
    width: 100%;
    height: 100%;
    padding: 0 10%;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .subTitle {
        color: $color-white;
        margin: 100px 0;
    }

    .mapDiscript {
        font-weight: 700;
        font-size: 1.25rem;
        color: $color-white;
        margin-bottom: 100px;
    }

    .mapImages {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        img {
            width: 80%;
            object-fit: cover;
            border-radius: 35px;
            border: 5px solid $color-green;
        }
    }

}


/*-------------
    Footer
-------------*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: $color-brown;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
        margin-left: 100px;

        img {
            width: 210px;
            object-fit: contain;
        }
    }

    .copyright {
        width: 70%;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
    }
}