* {
  list-style: none;
  text-decoration: none;
  font-family: "Anuphan", "Zen Maru Gothic", serif;
}

body {
  position: relative;
  background-color: #C2B5AF;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  font-size: 8rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Zen Maru Gothic", serif;
}

.accentColor {
  color: #C1DBA1;
}

.accentColorBrown {
  color: #D0A05D;
}

.smallText {
  font-size: 4rem;
}

/*-------------
    Header 
-------------*/
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 2%;
  height: 80px;
  padding: 0 36px;
  background: #FFFEFF;
  border-radius: 50px;
}

/*-------------
    Nav 
-------------*/
header .nav {
  width: 580px;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navListContent a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.navListContent a:hover {
  color: #C1DBA1;
  transition: 0.2s;
}

/*-------------
    Main Top 
-------------*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top .topView {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#top .topView .topViewVideoBg {
  width: 100%;
  height: 100%;
}
#top .topView .topViewVideoBg .topVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .topView .siteTitleBg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background: #FFFEFF;
}
#top .topView .siteTitleBg .siteTitle {
  display: block;
  position: relative;
}
#top .topView .siteTitleBg .siteTitle p {
  font-family: "Anuphan", serif;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}
#top .topView .siteTitleBg .siteTitle p:first-child {
  left: 5px;
}
#top .topView .siteTitleBg .siteTitle p:last-child {
  top: 8.5rem;
  right: 5px;
}

/*-------------
    Histry
-------------*/
#histry {
  width: 80%;
}
#histry .histryList .histryListContent:nth-child(1) .histryListItemTop {
  border: 5px solid #F48FB1;
  color: #F48FB1;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(1) .histryListItemDetail {
  background-color: #F48FB1;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(2) .histryListItemTop {
  border: 5px solid #94BC18;
  color: #94BC18;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(2) .histryListItemDetail {
  background-color: #94BC18;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(3) .histryListItemTop {
  border: 5px solid #B7D389;
  color: #B7D389;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(3) .histryListItemDetail {
  background-color: #B7D389;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(4) .histryListItemTop {
  border: 5px solid #FAD841;
  color: #FAD841;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(4) .histryListItemDetail {
  background-color: #FAD841;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(5) .histryListItemTop {
  border: 5px solid #993430;
  color: #993430;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(5) .histryListItemDetail {
  background-color: #993430;
  left: 5%;
}
#histry .histryList .histryListContent {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 15px;
  margin: 50px 0;
}
#histry .histryList .histryListContent .histryListItemTop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 380px;
  border: 5px solid inherit;
  border-radius: 15px;
  background-color: #FFFEFF;
  transition: 0.5s;
}
#histry .histryList .histryListContent .histryListItemTop img {
  width: 420px;
}
#histry .histryList .histryListContent .histryListItemTop .histryListItemTitle {
  margin-top: 1rem;
}
#histry .histryList .histryListContent .histryListItemDetail {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 500px;
  height: 380px;
  background-color: #C1DBA1;
  border-radius: 15px;
  background-color: inherit;
  transition: 0.5s;
  opacity: 0;
  transform: rotateY(180deg);
}
#histry .histryList .histryListContent .histryListItemDetail p {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFEFF;
  line-height: 2rem;
}
#histry .histryList .histryListContent:hover .histryListItemDetail {
  transform: rotateY(0);
  opacity: 1;
}
#histry .histryList .histryListContent:hover .histryListItemTop {
  transform: rotateY(180deg);
  transition: 0.5s;
}

/*-------------
    Lead
-------------*/
#lead {
  width: 80%;
}
#lead .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 850px;
  background: #FFFEFF;
  border: solid 5px #C1DBA1;
  border-radius: 45px;
}
#lead .wrapper img {
  width: 960px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lead .wrapper .leadText {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

/*-------------
    Concept
-------------*/
#concept {
  position: relative;
  width: 100%;
  height: 1065px;
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}
#concept .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150%;
  height: 1065px;
  background: #C1DBA1;
  border-radius: 45%;
}
#concept .wrapper img {
  width: 250px;
  height: 250px;
  border: 3px solid #D0A05D;
  border-radius: 50%;
  background-color: #FFFEFF;
}
#concept .wrapper h3 {
  margin-top: 4rem;
  line-height: 4rem;
}
#concept .wrapper p {
  margin-top: 4rem;
  line-height: 2rem;
  font-weight: 700;
}

/*-------------
    Massage
-------------*/
#message {
  width: 80%;
  color: #FFFEFF;
}
#message .messageList .messageListContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#message .messageList .messageListContent img {
  height: 550px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#message .messageList .messageListContent .messageItem h3 {
  line-height: 4rem;
}
#message .messageList .messageListContent .messageItem p {
  font-weight: 700;
  line-height: 2rem;
}
#message .messageList .messageListContent:nth-child(odd) .messageItem {
  text-align: right;
}
#message .messageList .messageListContent:nth-child(odd) img {
  transform: scale(-1, 1);
}

/*-------------
    Timeline
-------------*/
#timeline {
  position: relative;
  width: 100%;
  height: 915px;
  background: #F5609A;
  overflow: hidden;
}
#timeline .timelineTitle {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 16rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #FFFEFF;
}
#timeline .timelineTitle .timelineTitleTop {
  position: absolute;
  top: 0;
  left: 0;
}
#timeline .timelineTitle .timelineTitleBottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
#timeline .timelineBg {
  width: 100%;
  overflow-x: scroll;
}
#timeline .timelineBg .timelineList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#timeline .timelineBg .timelineList .timelineListContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  height: 450px;
  margin: 0 50px;
  background: #FFFEFF;
  border: 1px solid #000000;
  border-radius: 35px;
}
#timeline .timelineBg .timelineList .timelineListContent .timelineListItem {
  position: relative;
  width: 80%;
  height: 80%;
}
#timeline .timelineBg .timelineList .timelineListContent .timelineListItem .startTime {
  position: absolute;
  top: 0;
  left: 0;
}
#timeline .timelineBg .timelineList .timelineListContent .timelineListItem .timelineItemTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#timeline .timelineBg .timelineList .timelineListContent .timelineListItem .timelineItemDiscript {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*-------------
    Map
-------------*/
#map {
  width: 80%;
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#map .subTitle {
  color: #FFFEFF;
  margin: 100px 0;
}
#map .mapDiscript {
  font-weight: 700;
  font-size: 1.25rem;
  color: #FFFEFF;
  margin-bottom: 100px;
}
#map .mapImages {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#map .mapImages img {
  width: 280px;
  height: 500px;
  background: red;
}

/*-------------
    Footer
-------------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: #D0A05D;
}
.footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-left: 100px;
}
.footer .logo img {
  width: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .copyright {
  width: 70%;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}/*# sourceMappingURL=style.css.map */