//color
$color-white: #FFFEFF;
$color-black: #000000;
$color-gray: #C2B5AF;
$color-brown: #D0A05D;
$color-pink: #F5609A;
$color-green: #C1DBA1;

* {
    list-style: none;
    text-decoration: none;
    font-family: "Anuphan", serif;
}

body {
    position: relative;
    background-color: $color-brown;
}

/*-------------
    Header 
-------------*/
.header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 2%;
    height: 80px;
    padding: 0 36px;
    background: $color-white;
    border-radius: 50px;
}
/*-------------
    Nav 
-------------*/
header .nav {
    width: 580px;
}
.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navListContent a {
    font-weight: bold;
    font-size: 1.5rem;
    color: $color-black;
}
.navListContent a:hover {
    color: $color-green;
    transition: .2s;
}

