* {
  list-style: none;
  text-decoration: none;
  font-family: "Anuphan", "Zen Maru Gothic", serif;
}

body {
  position: relative;
  background-color: #C2B5AF;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

h2 {
  font-size: 8rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: "Zen Maru Gothic", serif;
}

.accentColor {
  color: #C1DBA1;
}

.accentColorBrown {
  color: #D0A05D;
}

.smallText {
  font-size: 4rem;
}

/*-------------
    Header 
-------------*/
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 2%;
  height: 80px;
  padding: 0 36px;
  background: #FFFEFF;
  border-radius: 50px;
}

/*-------------
    Nav 
-------------*/
header .nav {
  width: 580px;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navListContent a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.navListContent a:hover {
  color: #C1DBA1;
  transition: 0.2s;
}

/*-------------
    Main Top 
-------------*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top .topView {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#top .topView .topViewVideoBg {
  width: 100%;
  height: 100%;
}
#top .topView .topViewVideoBg .topVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .topView .siteTitleBg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background: #FFFEFF;
}
#top .topView .siteTitleBg .siteTitle {
  display: block;
  position: relative;
}
#top .topView .siteTitleBg .siteTitle p {
  font-family: "Anuphan", serif;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}
#top .topView .siteTitleBg .siteTitle p:first-child {
  left: 5px;
}
#top .topView .siteTitleBg .siteTitle p:last-child {
  top: 8.5rem;
  right: 5px;
}

/*-------------
    Histry
-------------*/
#histry {
  width: 80%;
}
#histry .histryList .histryListContent:nth-child(1) .histryListItemTop {
  border: 5px solid #F48FB1;
  color: #F48FB1;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(1) .histryListItemDetail {
  background-color: #F48FB1;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(2) .histryListItemTop {
  border: 5px solid #94BC18;
  color: #94BC18;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(2) .histryListItemDetail {
  background-color: #94BC18;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(3) .histryListItemTop {
  border: 5px solid #B7D389;
  color: #B7D389;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(3) .histryListItemDetail {
  background-color: #B7D389;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(4) .histryListItemTop {
  border: 5px solid #FAD841;
  color: #FAD841;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(4) .histryListItemDetail {
  background-color: #FAD841;
  right: 5%;
}
#histry .histryList .histryListContent:nth-child(5) .histryListItemTop {
  border: 5px solid #993430;
  color: #993430;
  left: 5%;
}
#histry .histryList .histryListContent:nth-child(5) .histryListItemDetail {
  background-color: #993430;
  left: 5%;
}
#histry .histryList .histryListContent {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 15px;
  margin: 50px 0;
}
#histry .histryList .histryListContent .histryListItemTop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 380px;
  border: 5px solid inherit;
  border-radius: 15px;
  background-color: #FFFEFF;
  transition: 0.5s;
}
#histry .histryList .histryListContent .histryListItemTop img {
  width: 420px;
}
#histry .histryList .histryListContent .histryListItemTop .histryListItemTitle {
  margin-top: 1rem;
}
#histry .histryList .histryListContent .histryListItemDetail {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 500px;
  height: 380px;
  background-color: #C1DBA1;
  border-radius: 15px;
  background-color: inherit;
  transition: 0.5s;
  opacity: 0;
  transform: rotateY(180deg);
}
#histry .histryList .histryListContent .histryListItemDetail p {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFEFF;
  line-height: 2rem;
}
#histry .histryList .histryListContent:hover .histryListItemDetail {
  transform: rotateY(0);
  opacity: 1;
}
#histry .histryList .histryListContent:hover .histryListItemTop {
  transform: rotateY(180deg);
  transition: 0.5s;
}

/*-------------
    Lead
-------------*/
#lead {
  width: 80%;
}
#lead .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 850px;
  background: #FFFEFF;
  border: solid 5px #C1DBA1;
  border-radius: 45px;
}
#lead .wrapper img {
  width: 960px;
  -o-object-fit: contain;
     object-fit: contain;
}
#lead .wrapper .leadText {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

/*-------------
    Concept
-------------*/
#concept {
  position: relative;
  width: 100%;
  height: 1065px;
  margin-top: 100px;
  text-align: center;
}
#concept .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150%;
  height: 1065px;
  background: #C1DBA1;
  border-radius: 45%;
}
#concept .wrapper img {
  width: 250px;
  height: 250px;
  border: 3px solid #D0A05D;
  border-radius: 50%;
  background-color: #FFFEFF;
}
#concept .wrapper h3 {
  margin-top: 4rem;
  line-height: 4rem;
}
#concept .wrapper p {
  margin-top: 4rem;
  line-height: 2rem;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */